@import "tailwindcss";

@theme {
	--font-inter: "Inter", sans-serif;

    --color-background: #111111; 
    --color-gray: #252525; 
    --color-gray-black: #161616;
    --color-gray-light: #8E8E8E;
    --color-light: #F5F5F5;
    --color-black: #0B0D0F;
    --color-input: #0E0E0E;
    --color-border: #353535;
    --color-text-gray: #636468;
    --color-blue: #0575F1;
    --color-red: #F81515;
}


