@import "tailwindcss";

@theme {
	--font-roboto: var(--font-roboto);

    --color-background: #1F2027;
    --color-footer: #040B19;
    --color-text-light: #F8F6F7;
    --color-black: #0B0D0F;
    --color-text-gray: #7F8084;
    --color-button-grab-now: #4C70FF;
    --color-discount: #CB2010;
}


